{% extends "layouts/base.html" %}
{% set active_page = "category" %}
{% block title %} Category {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">

                                            <h5>Category Lists</h5>
                                            <a href="{{ url_for('category_blueprint.create') }}" type="button"
                                               class="btn btn-success float-right  mr-2">Add Category</a>

                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered nowrap dataTable">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Category Name</th>
                                                        <th>Action</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for row in category %}
                                                        <tr>
                                                            <td>{{ loop.index }}</td>
                                                            <td>{{ row.category_name }}</td>
                                                            <td>
                                                                {% if authorize.update(row) %}
                                                                    <a class="btn btn-success text-white" href="{{ url_for('category_blueprint.update', category_id=row.id)}}">Edit</a>
                                                                {% endif %}
                                                                {% if authorize.delete(row) %}
                                                                    <a class="btn btn-danger text-white" href="{{ url_for('category_blueprint.delete', category_id=row.id)}}">Delete</a>
                                                                {% endif %}
                                                            </td>
                                                        </tr>

                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
