{% extends "layouts/base.html" %}

{% block title %} Edit Role {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">

                                            <h5>Update Role</h5>
                                        </div>
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form role="form" method="post">
                                                        {{ form.hidden_tag() }}
                                                        <div class="form-group">
                                                            <label for="role_name">Role Name</label>
                                                            {{ form.name(placeholder="Enter Role Name", class="input form-control") }}
                                                        </div>
                                                        <div class="form-group">

                                                            {{ form.allowances(placeholder="Enter Role Name", class="input form-control") }}
                                                        </div>
                                                        <hr class="m-20 p-10">

                                                        {% for key in role_list.keys() %}


                                                            <div class="row check_group">
                                                            <div class="col-md-4">
                                                                <h4>{{ key }}</h4>
                                                            </div>


                                                            <div class="col-md-6">

                                                                <div class="col-md-12">

                                                                    <div class="checkbox d-inline">
                                                            <input type="checkbox" name="{{ key }}_read" value="{{ key }}_read"
                                                                                id="{{ key }}_read"
                                                                    {% for a_value in role_list[key] %}
                                                            {% if a_value=="read" %} checked {% endif %} {% endfor %}>
                                                                        <label
                                                                                for="{{ key }}_read" class="cr"> View
                                                                            {{ key }}</label>
                                                                    </div>

                                                                </div>

                                                                <div class="col-md-12">
                                                                    <div class="checkbox d-inline">
                                                                        <input
                                                                                type="checkbox" name="{{ key }}_create" value="{{ key }}_create"
                                                                                id="{{ key }}_create" {% for a_value in role_list[key] %}
                                                            {% if a_value=="create" %} checked {% endif %} {% endfor %}>
                                                                        <label
                                                                                for="{{ key }}_create" class="cr"> Add
                                                                            {{ key }}</label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12">
                                                                    <div class="checkbox d-inline">
                                                                        <input
                                                                                type="checkbox" name="{{ key }}_update" value="{{ key }}_update"
                                                                                id="{{ key }}_update" {% for a_value in role_list[key] %}
                                                            {% if a_value=="update" %} checked {% endif %} {% endfor %}>
                                                                        <label
                                                                                for="{{ key }}_update" class="cr"> Edit
                                                                            {{ key }}</label>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12">
                                                                    <div class="checkbox d-inline">
                                                                        <input
                                                                                type="checkbox" name="{{ key }}_delete" value="{{ key }}_delete"
                                                                                id="{{ key }}_delete" {% for a_value in role_list[key] %}
                                                            {% if a_value=="delete" %} checked {% endif %} {% endfor %}>
                                                                        <label
                                                                                for="{{ key }}_delete" class="cr"> Delete
                                                                            {{ key }}</label>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>

{% endfor %}

                                                        <button type="submit" name="update" class="btn btn-primary">
                                                            Submit
                                                        </button>
                                                    </form>
                                                </div>

                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script type="application/javascript">
        let data = document.getElementById("allowances").value
        let allow_data = data.replace(/'/g, '"');
        document.getElementById("allowances").value = allow_data;
    $(document).ready(function(){


        $('input[type="checkbox"]').click(function(){

            if($(this).is(":checked")){
                    console.log("Checkbox is checked.");

                    let check_value = $(this).val()
                    let key_value = check_value.split("_");
                    let key_a = key_value.slice(0, -1).join(' ')
                    let value_a = key_value.slice(-1).join(' ');

                    let allowances = document.getElementById("allowances").value;
                    let allowances_json = JSON.parse(allowances);
                    allowances_json[key_a].push(value_a);
                    let a_data = JSON.stringify(allowances_json);

                    document.getElementById("allowances").value = a_data;
                }
                else if($(this).is(":not(:checked)")){
                    let check_value = $(this).val()
                    let key_value = check_value.split("_");
                    let key_a = key_value.slice(0, -1).join(' ')
                    let value_a = key_value.slice(-1).join(' ');

                    let allowances = document.getElementById("allowances").value;
                    let allowances_json = JSON.parse(allowances);

                    _.remove(allowances_json[key_a], function(i){
                        return i == value_a;
                    })
                    let a_data = JSON.stringify(allowances_json);
                    document.getElementById("allowances").value = a_data;
                }
            });
    });


    </script>
{% endblock javascripts %}
