{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Create User</h5>
                                        <span class="mb-2 text-muted">
                                            {% if msg %}
                                                <span class="text-danger">{{ msg | safe }}</span>
                                            {% endif %}
                                        </span>
                                        </div>
                                        <div class="card-block">
                                        <form  role="form" method="post">
                                            <div class="row">
                                                {{ form.hidden_tag() }}

                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="username">Username</label>
                                                        {{ form.username(placeholder="Enter Username", class="input form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="email">Email address</label>
                                                        {{ form.email(placeholder="Enter Email address", class="input form-control") }}
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="password">Password</label>
                                                        {{ form.password(placeholder="Enter Password", class="input form-control") }}
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="password">Confirm Password</label>
                                                        {{ form.confirm_password(placeholder="Confirm Password", class="input form-control") }}
                                                    </div>
                                                </div>


                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="firstname">First Name</label>
                                                        {{ form.firstname(placeholder="Enter Your First Name", class="input form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="lastname">Last Name</label>
                                                        {{ form.lastname(placeholder="Enter Your Last Name", class="input form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="phone">Phone Number</label>
                                                        {{ form.phone(placeholder="Enter Your Phone Number", class="input form-control") }}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="address">Address</label>
                                                        {{ form.address(placeholder="Enter Your Address", class="input form-control") }}
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 mb-2">
                                                    <div class="form-group">
                                                        <button type="submit" name="create" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-50 p-3">
                                                    <img src="{{ config.ASSETS_ROOT }}/images/user/profile.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ current_user.username }}
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        {% if current_user.email %} {{ current_user.email }} {% endif %}
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    This page is your private space.
                                                    <br />
                                                </p>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center">

                                                <a href="https://github.com/app-generator/app-generator"
                                                   target="_blank"
                                                   class="h6 text-muted d-block m-1"><i
                                                   class="icon feather icon-github"></i></a>

                                                <a href="https://twitter.com/webappseed"
                                                   target="_blank"
                                                   class="h6 text-muted d-block m-1"><i
                                                   class="icon feather icon-twitter"></i></a>

                                                <a href="https://appseed.us/support/"
                                                   target="_blank"
                                                   class="h6 text-muted d-block m-1"><i
                                                   class="icon feather icon-help-circle"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
