{% extends "layouts/base.html" %}
{% set active_page = "units" %}
{% block title %} User {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">

                                            <h5>User Lists</h5>
                                        <span class="mb-2 text-muted">
                                            {% if msg %}
                                                <span class="text-danger">{{ msg | safe }}</span>
                                            {% endif %}
                                        </span>
                                            <a href="{{ url_for('authentication_blueprint.create') }}" type="button"
                                               class="btn btn-success float-right  mr-2">Add User</a>

                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered nowrap dataTable">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Username</th>
                                                        <th>Email</th>
                                                        <th>Role</th>
                                                        <th>Action</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for row in users %}
                                                        <tr>
                                                            <td>{{ loop.index }}</td>
                                                            <td>{{ row.firstname }}</td>
                                                            <td>{{ row.lastname }}</td>
                                                            <td>{{ row.username }}</td>
                                                            <td>{{ row.email }}</td>
                                                            <td>{{ row.name }}</td>
                                                            <td>
                                                                    <a class="btn btn-success text-white" href="{{ url_for('authentication_blueprint.update', user_id=row.user_id)}}">Edit</a>
{#                                                                    <a class="btn btn-danger text-white" href="{{ url_for('units_blueprint.delete', user_id=row.id)}}">Delete</a>#}
                                                            </td>
                                                        </tr>

                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
